=========================
Arduino
=========================
*.elf
*.hex
build/

=========================
IDE (VS Code, etc.)
=========================
.vscode/
*.suo
*.user
*.cache

=========================
Visual Studio / C
=========================
[Bb]in/
[Oo]bj/
bin/
obj/

Build outputs
*.exe
*.dll
*.pdb

=========================
Proteus Simulation
=========================
*.pdsbak
*.pdsak

=========================
OS files
=========================
.DS_Store
Thumbs.db